simpleweb/.gradle/6.8/gc.properties
simpleweb/.gradle/6.8/executionHistory/executionHistory.bin
simpleweb/.gradle/6.8/executionHistory/executionHistory.lock
simpleweb/.gradle/6.8/fileChanges/last-build.bin
simpleweb/.gradle/6.8/fileHashes/fileHashes.bin
simpleweb/.gradle/6.8/fileHashes/fileHashes.lock
simpleweb/.gradle/6.8/fileHashes/resourceHashesCache.bin
simpleweb/.gradle/6.8/javaCompile/classAnalysis.bin
simpleweb/.gradle/6.8/javaCompile/jarAnalysis.bin
simpleweb/.gradle/6.8/javaCompile/javaCompile.lock
simpleweb/.gradle/6.8/javaCompile/taskHistory.bin
simpleweb/.gradle/buildOutputCleanup/buildOutputCleanup.lock
simpleweb/.gradle/buildOutputCleanup/cache.properties
simpleweb/.gradle/buildOutputCleanup/outputFiles.bin
simpleweb/.gradle/checksums/checksums.lock
simpleweb/.gradle/checksums/md5-checksums.bin
simpleweb/.gradle/checksums/sha1-checksums.bin
simpleweb/.gradle/configuration-cache/gc.properties
simpleweb/.gradle/vcs-1/gc.properties
simpleweb/.idea/.gitignore
simpleweb/.idea/compiler.xml
simpleweb/.idea/encodings.xml
simpleweb/.idea/gradle.xml
simpleweb/.idea/jarRepositories.xml
simpleweb/.idea/libraries-with-intellij-classes.xml
simpleweb/.idea/misc.xml
simpleweb/build/classes/java/main/com/max/slw/api/DemoBean.class
simpleweb/build/classes/java/main/com/max/slw/api/DemoSlt.class
simpleweb/build/classes/java/main/com/max/slw/dao/DemoDao.class
simpleweb/build/classes/java/main/com/max/slw/dao/User.class
simpleweb/build/classes/java/test/com/max/slw/dao/TestDemo.class
simpleweb/build/libs/simpleweb-1.0-SNAPSHOT.war
simpleweb/build/reports/tests/test/index.html
simpleweb/build/reports/tests/test/classes/com.max.slw.dao.TestDemo.html
simpleweb/build/reports/tests/test/css/base-style.css
simpleweb/build/reports/tests/test/css/style.css
simpleweb/build/reports/tests/test/js/report.js
simpleweb/build/reports/tests/test/packages/com.max.slw.dao.html
simpleweb/build/resources/main/db.setting
simpleweb/build/resources/test/create.sql
simpleweb/build/test-results/test/TEST-com.max.slw.dao.TestDemo.xml
simpleweb/build/test-results/test/binary/output.bin
simpleweb/build/test-results/test/binary/output.bin.idx
simpleweb/build/test-results/test/binary/results.bin
simpleweb/build/tmp/compileJava/source-classes-mapping.txt
simpleweb/build/tmp/compileTestJava/source-classes-mapping.txt
simpleweb/build/tmp/war/MANIFEST.MF
